<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./application/bootstrap.php" colors="true">
    <testsuite name="XBoom">
        <directory>./</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">../application/</directory>
            <directory suffix=".php">../library/Xboom/</directory>
            <exclude>
                <directory suffix=".phtml">../application/</directory>
                <directory suffix="ErrorController.php">../application/</directory>
                <directory suffix="Exception.php">../application</directory>
                <directory suffix="Exception.php">../library/Xboom</directory>
                <file>../application/Bootstrap.php</file>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./log/report" charset="UTF-8"
            yui="true" highlight="true" lowUpperBound="50" highLowerBound="80" />
        <log type="testdox" target="./log/testdox.html" />
    </logging>
</phpunit>
